
.result {
  padding: 2%;
  border-radius: 20px;
  font-family: "Comic Sans MS", "Comic Sans", serif;;
}

.result h4 {
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Comic Sans MS", "Comic Sans", serif;
}

.question {
  max-width: 900px;
  margin: auto;
  padding: 2%;
  font-family: "Comic Sans MS", "Comic Sans", serif;
}

#titles {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  drop
}

h1 {
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}

#starwars {
  background-image: linear-gradient(to bottom right, #454545, black);
  color: yellow;
}
#sailormoon {
 background-image: linear-gradient(to bottom right, #f8a4fc, #b8c3ff);
 color: #781c85;
}
#arcane {
 background-image: linear-gradient(to bottom right, #ffffff, #23257a);
 color: #6e5000;
}
#gravityfalls {
 background-image: linear-gradient(to bottom right, #fff4b0, #6e5221);
 color: #33270f;
}
#ricknmorty {
  background-image: linear-gradient(to bottom right, #f7f36f, #59e3de);
  color: #2b5394;
}
#regular {
  background-image: linear-gradient(to bottom right, #a6e1ff, #90d192);
  color: #ffffff;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.1);
}
#midnight {
  background-image: linear-gradient(to bottom right, #ffb387, #a611a8);
  color: #ffe0f4;
}
#onepiece {
  background-image: linear-gradient(to bottom right, #82e6ff, #3530d9);
  color: #00209e;
}
#spongebob {
  background-image: linear-gradient(to bottom right, #7dc7ff, #ebe5c3);
  color: #18308f;
}
#pokemon {
  background-image: linear-gradient(to bottom right, #2592fb, #ffffff);
  color: #18308f;
}
#avatar {
  background-image: linear-gradient(to bottom right, #903a07, #f0e354);
  color: #1f1e1c;
}
#steven    {
  background-image: linear-gradient(to bottom right, #ffffff, #ffc2fd);
  color: #de3902;
}

body {
  background-image: url("../img/jazz2.png");
  background-repeat: repeat;
}

#description {
  max-width: 900px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  text-align: center;
  color: white;
  border-style: solid;
  border-width: thick;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 12px;
  border: 30px;
  line-height: 40px;
  font-size: 17px;
  animation: 20s ease-in-out infinite color-change;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
}
@keyframes color-change {
  0% {
    background-color: red;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}
  /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple); */
}

form {
  display: inline;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.question-text {
  margin-left: 10%
}

#q1 {
 transform:rotate(-2deg);
 background-color: rgba(4, 196, 199, .7);
 border-radius: 0px;
 margin-top: 40px;
 margin-bottom: 30px;
}

#q2 {
 transform:rotate(2deg);
 background-color: rgba(160, 43, 175, .7);
 border-radius: 0px;
 margin-top: 30px;
 margin-bottom: 30px;
}

#sum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-size: 100px;
  font-family: "Comic Sans MS", "Comic Sans", serif;
  text-shadow: 1px 1px 2px red, 2px 2px 2px orange, 3px 3px 2px yellow, 4px 4px 2px green, 5px 5px 2px blue, 6px 6px 2px purple;
  box-shadow: 1px 1px 5px red, 2px 2px 5px orange, 3px 3px 5px yellow, 4px 4px 5px green, 5px 5px 5px blue, 6px 6px 5px purple;
}

#sum:hover {
  background-color: yellow;
}

.ui-button {
  padding-right: 30%;
  padding-left: 20%;
  text-align: left;
  width: 75%;
  margin-left: 10%;
}

.ui-checkboxradio-label {
  text-align: left;
}

}
input {
    visibility:hidden;
}
label {
    cursor: pointer;
}

.ui-checkboxradio-icon {
  visibility: hidden;
}

img {
  max-width: 100%;
}

.result-logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.result-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


////////////
