.result {
  border-style: solid;
  border-width: thick;
  border-color: red;
}

.question {
  background-color: ;
  border-style: solid;
  border-color: black;
  max-width: 900px;
  margin: auto;
  padding: 2%;
}

#titles {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  drop
}

h1 {
  text-align: center;
  text-decoration: underline;
}

#description {
  max-width: 900px;
  border-style: solid;
  border-width: thick;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: 5s ease-in-out infinite color-change;
}
@keyframes color-change {
  0% {
    background-color: red;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}
  /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple); */
}

form {
  display: inline;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.question-text {
  margin-left: 10%
}

.ui-button {
  padding-right: 30%;
  padding-left: 20%;
  text-align: left;
  width: 75%;
  margin-left: 10%
}

.ui-checkboxradio-label {
  text-align: left;
}

}
input {
    visibility:hidden;
}
label {
    cursor: pointer;
}

.ui-checkboxradio-icon {
  visibility: hidden;
}
